body {
    background-color: lightblue;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }
  
  /*
  https://jaspreetchahal.org/html5-canvas-export-as-png-or-jpeg/
https://www.w3schools.com/html/html5_canvas.asp
https://github.com/ninique/Dollmaker-Script
https://bountify.co/export-html-canvas-to-image
*/